.mainContainer {
  background-color: #d7e3df;
  font-family: "Space Grotesk", sans-serif;
}

.row {
  justify-content: center;
  align-items: center;
  h3 {
    color: white;
    text-align: center;
  }
}
.mainImage {
  background-image: url("/mainImage.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlayMainImage {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 50px 20px;
}

.mainText {
  color: white;
  text-align: center;
  h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.mainProductImage {
  width: -webkit-fill-available;
  border-radius: 10px;
}

.textSection {
  padding-top: 90px;
  padding-bottom: 20px;
  color: #286090;
  text-align: center;
  h1 {
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 13px;
  }
  h4 {
    font-family: "DM Sans", sans-serif;
    color: gray;
    font-size: 1.8rem;
  }
  p {
    color: gray;
    font-size: 1.5rem;
  }
}
p {
  font-family: "DM Sans", sans-serif;
}

.sub-title {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.textSection .sub-title:after {
  display: inline-block;
  width: 100px;
  position: relative;
  top: 10px;
  font-size: 4em;
  color: #0e5178;
  content: "—";
}

.btn {
  text-align: center;
  width: 150px;
  padding: 20px;
  /* margin: 0 0 45% 0; */
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #0e5178;
  border-color: #0e5178;
}

.secondSection {
  color: #0e5178;
  text-align: center;
  padding: 0 20%;
  img {
    height: 300px;
    width: 300px;
    border-radius: 20px;
  }
  p {
    color: gray;
  }
}

.thirdSection {
  padding: 0 20%;
  div {
    padding: 0;
    /* border-radius: 20px; */
    img {
      width: -webkit-fill-available;
      height: auto;
      border-radius: 20px !important;
    }
  }
  .iconBenefit {
    width: 10%;
  }
  p {
    margin: 0;
    padding-left: 20px;
    text-align: justify;
  }
}

.forthSection {
  padding: 0 5%;
  .howItWorks {
    padding: 2%;
    .workProcess {
      height: 400px;
      border-radius: 20px;
      color: white;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover;
      transition: transform 0.6s ease-out 10ms;
      h3 {
        font-size: 1.6rem;
        font-weight: bold;
        padding: 0 20px 0 20px;
      }
      p {
        margin: 0;
        font-size: 1rem;
        text-align: center;
        padding: 0 30px 50px 30px;
      }
      .overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
        border-radius: 20px;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
      }
    }
    .workProcess:hover {
      transform: translateY(-15px);
    }
  }
}

.fifthSection {
  padding: 20px 5% 3rem 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 300px;
    width: 300px;
    margin: 20px;
    border-radius: 50%;
    transition: transform 0.6s ease-out 10ms;
    /* transition: transform 0.2s; */
  }
  img:hover {
    transform: scale(1.2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
}

@media only screen and (max-width: 600px) {
  .secondSection {
    padding: 0;
    img {
      padding: 25px 0 10px 0;
    }
  }
}

.carousel-inner {
  padding: 10px;
  .carousel-item {
    img {
      height: 600px;
    }
  }

  .content-box {
    position: relative;
    display: block;
    background-color: #222429;
    background-image: url(https://www.esquiretechnology.com/assets/frontend/images/icons/shape-12.png);
    background-position: left top;
    background-repeat: no-repeat;
    padding: 80px 80px;
    margin-bottom: 45px;
    font-size: 100%;

    p,
    .text {
      font-family: "DM Sans", sans-serif;
      color: gray;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
    }

    .rating {
        font-size: 30px;
        padding: 5px;
        color: #286090;
        margin-bottom: 12px;
        i{
            padding: 3px;
        }
    }
  }

  .content-box:before {
    position: absolute;
    left: 60px;
    top: 100%;
    border-right: 150px solid transparent;
    border-top: 45px solid #222429;
    content: "";
    box-sizing: border-box;
  }

  .info-box {
    position: relative;
    margin-top: -30px;
    margin-left: 160px;
    padding-left: 115px;
    min-height: 94px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    .thumb {
      img {
        position: absolute;
        left: 0;
        top: 0;
        height: 94px;
        width: 94px;
        border: 2px solid #286090;
        border-radius: 50%;
        overflow: hidden;
        padding: 10px;
      }
    }
  }

  h5 {
    color: #286090;
  }

  .info-box .name {
    margin-bottom: 2px;
  }

  .info-box .designation {
    position: relative;
    text-transform: uppercase;
    display: block;
    font-size: 13px;
    color: #808287;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.1em;
  }

  .icon-quote {
    position: absolute;
    right: 0;
    top: 0;
    height: 72px;
    width: 72px;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #222429;
    background-color: #286090;
    background-image: url(https://www.esquiretechnology.com/assets/frontend/images/icons/quote-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 100ms ease;
    transition: all 100ms ease;
  }
}
